#content{
	.secao-a{
	    background-image: #FFFFFF;
	    padding:70px 0;

		.detalhes-unidade{
			background-color:#ffd900;
			padding:20px;

			.detalhe-unidade-esq{
				float:left;
				width: 70%;
			}
			.detalhe-unidade-dir{
				padding-top:20px;
				float:left;
				width: 30%;

			}
		}

		.blog-articles{
			ul.menu-blog{
				padding:0;
				li{
					list-style: none;
					background-color:#ffd900;
					font-weight: bold;
					margin:10px 0;
					padding:10px;
				}
				li:first-child{
					margin-top: 0;
				}
				li:hover{
					background-color:#ffe866;
				}
			}

			div.paginacao{
				.page-numbers{
					padding:5px;
					background-color:#ececec;
				}
				.current{
					background-color:#ffc700;
				}
			}

			article{
				text-align: left;
				padding-bottom: 30px;
				margin-bottom: 40px;
				border-bottom:1px dotted black;

				h2{
					a{
						color:#ffd900;
					}
				}
			}
			article:last-child{
				border-bottom:none;
			}
		}

		.modalidades{

			article{
				background-color:#f4f4f4;

				.entry-content{
					padding:30px 10px;
				}
			}
		}

	}
	.secao-b{
		background-color:#323232;
		padding:50px 0;
	}
	
	.duvidas-pag{
		.wrap-duv{
			.cabecalho-duv{
				padding:10px;
				span{
					width: 90%;
					padding:5px 10px;
					float:left;
					font-weight: bold;
				}
				img{

					float:left;
					cursor:pointer;
				}
			}	
			.conteudo-duv{
				padding:5px;
				padding-left:52px;
			}
		}
	}

	.modalidades-pag{
		.wrap-mod{
			margin-bottom: 10px;

			.cabecalho-mod{
				background-color:#ffd900;
				padding:10px;

				span{
					padding:5px 10px;
					float:left;
					font-weight: bold;
				}
				img{
					float:right;
					cursor:pointer;
				}
			}
			.conteudo-mod{
				ul{
					li{
						padding:5px;
						list-style: none;
					}
				}
			}	
		
		}

		article{
			h3{
				color:#232323;
			}
		}

	}

	.secao-sobre{
	    background-image: url("images/background-luta.jpg");
	    background-repeat: no-repeat;
	    background-position: center; 
		background-size: 100%;
	    width: 100%;
	   	padding:50px 0;

	    .sobre-vf{
	    	.col-md-6{
	    		padding:0;
	    	}

	    	.sobre-left-top{
	    		background-color:#ffd900;
	    		height: 350px;
	    		img{
	    			width: 100%;
	    			max-width: 450px;
	    			margin-top: 100px;
	    		}
	    	}
	    	.sobre-left-bot{
	    		padding:35px 50px;
	    		background-color:#272727;
	    		height: 250px;
	    		color:#FFFFFF;
	    		strong{
	    			color:#ffd900;
	    		}
	    	}
	    	.sobre-right{
	    		text-align: left;
	    		padding:50px;
	    		background-color:#FFFFFF;
	    		height: 600px;

	    		h2{
	    			color:#232323;
	    			font-weight: bold;
	    		}

	    		input[type=text]{
	    			background-color:#F8F8F8;
	    		}
	    	}

	    }		
	}
}

@media (max-width: 991px) {  
	#page #content .secao-sobre{
		padding-bottom:700px;
	}
}

@media (min-width: 992px) {  

}
