#footer{
	background-color:#323232;
	padding:50px 0;
	color:#FFFFFF;		
	text-align:left;

	.container{
		ul{
			padding:0;
			li{
				list-style: none;
				a{
					color:#FFFFFF;
				}
				a:hover{
					color:#ffd900;
				}
			}
		}
	}
}

.copyrino{
	color: #FFFFFF;
	background-color:#ffd900;
	padding:5px 0;
	.col-md-10{
		padding:12px;
		a{
			color: #FFFFFF;
		}
	}
}

.redes_sociais_bot{
	margin-bottom: 5px;
	height:67px;
	text-align: left;
	list-style:none;
	margin: 0 auto;
	margin-top: 30px;
	width: 310px;
	padding:0;
}

.redes_sociais_bot li:hover{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.redes_sociais_bot a{
	display: inline-block;
	width:67px;
	height:67px
}

.redes_sociais_bot .youtube{
	background-image: url("images/redes-sociais2.png");
	background-position: left,center;
	background-repeat:no-repeat;
	width:67px;
	height:67px;
	display:inline-block;		
}

.redes_sociais_bot .instagram{
	background-image: url("images/redes-sociais2.png");
	background-position: -80px,center;
	background-repeat:no-repeat;
	width:67px;
	height:67px;
	display:inline-block;		
}

.redes_sociais_bot .twitter{
	background-image: url("images/redes-sociais2.png");
	background-position: -160px,center;
	background-repeat:no-repeat;
	width:67px;
	height:67px;
	display:inline-block;		
}

.redes_sociais_bot .facebook{
	background-image: url("images/redes-sociais2.png");
	background-position: right,center;
	background-repeat:no-repeat;
	width:67px;
	height:67px;
	display:inline-block;		
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}


