#header{
	position:relative;

    nav{
        .container{
            ul{
                margin: 0;
                li{
                    list-style: none;

                    a{
                        display: inline-block;
                        padding: 10px;
                        color:#232323;
                        font-weight: bold;
                    }
                }
            }        
        }

    }

    nav.pos-fix{
        position: static;
        z-index: 0;
    }

    nav.menu-aux{
        padding:20px;
    	top:0;
        .dados-topo{
            padding-left:0;
            
            li{
                float:left;
                padding: 10px;
                color:#FFFFFF;
                font-size: small;                
            }
        }
        .dados-topo-vermelho{
            padding-left:0;
            li{
                padding: 10px;
                color:#9e151a;
                font-size: small;                
            }     
        }

    }


    nav.fixar {
        position:fixed;
        z-index: 1000;
        top: 0px !important;
        right: 0;
        left: 0;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 2px #888888;

    }  

    nav.menu-principal{
        top:38px;
        background-color:#323232;

        .container{

            ul{
                li{
                    float:right;
                    a{
                        color:#FFFFFF;
                        display: inline-block;
                        padding:15px 30px;
                    }
                    a:hover{
                        background-color:#5a5a5a;
                        text-decoration: none;
                    }
                    a.ativob{
                        background-color:#5a5a5a;
                    }
                }
            } 
            .botao-menu-responsivo{
                float:left;
                margin-right: 20px;
                margin-top: 12px;

                .dropdown-menu{
                    li{
                        width: 100%;
                        a{
                            width: 100%;
                            color:#606060;
                            padding:15px;
                        }
                        a:hover{
                            background-color:#f0f2f4;
                        }
                        a.ativob{
                             background-color:#f0f2f4;
                        }
                    }
                }
            }

            .logo-header{
                padding: 7px;
                margin-right: 20px;
            }

            .search-form{
                padding:25px;

                .pesquisar-input{
                    float:left;
                    padding:9px;
                    border: 0;
                }
                .pesquisar-submit{
                   float:left;
                }
            }
       
        } 
        .menu-principal-sub{
            background-color:#ffd900;
            ul.menu-sub{
                li{
                    a{
                        padding:15px;
                        color:#606060;
                    }
                    a:hover{
                        background-color:#ffe866;
                    }
                    a.menu-sub-header{
                        color: #ffd900;
                    }
                    a.menu-sub-header:hover{
                        background-color:transparent;
                        cursor: default;
                    }
                    a.ativo{
                        background-color:#ffe866;
                    }

                }
            }
        }
        
    }   

    .nav-buttons{
        height: 60px;
        width: 100%;
        background-color:#ffd900;
    }

}

@media (max-width: 991px) {  
    #header{
        nav.menu-aux{
            position: static;
            .dados-topo{
                display: none;
            }   
            .dados-topo-vermelho{
                display: none;
            }               
        }
        nav.menu-principal{
            position: static;
            .menu-opcoes{
                display:none;
            }
            .botao-menu-responsivo{
                display: inline-block;
            }

            .logo-header{
                
                img{
                     width: 60%
                }                     

            }                         
        }
    }   
}

@media (min-width: 992px) {  
    #header{
        nav.menu-principal{
            .botao-menu-responsivo{
                display: none;
            }
        }
    }    
}